---
Resources:
  NFSforEFS:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: NFS for EFS
      SecurityGroupIngress:
      - FromPort: '2049'
        IpProtocol: tcp
        SourceSecurityGroupId:
          Fn::GetAtt: [AWSEBSecurityGroup, GroupId]
      VPCId: vpc-797fed1d
      Tags:
        -
          Key: Owner
          Value: jrittenh
...
