---
Resources:
  NFSforEFS:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: NFS for EFS
      SecurityGroupIngress:
      - FromPort: '2049'
        ToPort: '2049'
        IpProtocol: tcp
        SourceSecurityGroupId:
          Fn::GetAtt: [AWSEBSecurityGroup, GroupId]
      VpcId: vpc-797fed1d
      Tags:
        -
          Key: Owner
          Value: jrittenh
option_settings:
  aws:autoscaling:launchconfiguration:
    SecurityGroups:
      - !Ref AWSEBSecurityGroup, !Ref NFSforEFS
...
