---
Resources:
  NFSforEFS:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: NFS for EFS
      SecurityGroupIngress:
      -
        FromPort: 2049
        ToPort: 2049
        IpProtocol: tcp
        Description: NFS for EFS inbound
        SourceSecurityGroupId: sg-02a930d03be42602e
      VpcId: vpc-797fed1d
      Tags:
        -
          Key: Owner
          Value: jrittenh
option_settings:
  aws:autoscaling:launchconfiguration:
    SecurityGroups:
      - Ref: AWSEBSecurityGroup
      - Ref: NFSforEFS
...
