option_settings:
  aws:autoscaling:launchconfiguration:
    SecurityGroups:
      - Ref: AWSEBSecurityGroup
  aws:elasticbeanstalk:customoption:
    VPCId: "vpc-797fed1d"
## Subnet Options
    SubnetA: "subnet-fee3a4d3"
    SubnetB: "subnet-d5adecea"

Resources:
  NFSforEFS:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: NFS for EFS
      SecurityGroupIngress:
      -
        FromPort: 2049
        ToPort: 2049
        IpProtocol: tcp
        Description: NFS for EFS inbound
        SourceSecurityGroupId:
          Ref: AWSEBSecurityGroup
      VpcId: vpc-797fed1d
      Tags:
        -
          Key: Owner
          Value: jrittenh

  NiFiEFS:
    Type: AWS::EFS::FileSystem
    Properties:
      FileSystemTags:
      - Key: Name
        Value: "EB-EFS-FileSystem"
      PerformanceMode: "generalPurpose"
      Encrypted: "true"
#      KmsKeyId: "KMS-key-ARN"

## Mount Target Resources
  MountTargetA:
    Type: AWS::EFS::MountTarget
    Properties:
      FileSystemId:
        Ref: NiFiEFS
      SecurityGroups:
      - Ref: NFSforEFS
      SubnetId: subnet-fee3a4d3
  MountTargetB:
    Type: AWS::EFS::MountTarget
    Properties:
      FileSystemId:
        Ref: NiFiEFS
      SecurityGroups:
      - Ref: NFSforEFS
      SubnetId: subnet-d5adecea
