---
option_settings:
  aws:elasticbeanstalk:application:environment:
    NIFI_WEB_PROXY_HOST:
      Fn::GetAtt: [
        ElasticBeanstalkEnvironment,
        EndpointURL
      ]
  aws:autoscaling:launchconfiguration:
    InstanceType: r4.large
    EC2KeyName: testlibnd
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role-docker
    RootVolumeType: gp2
    RootVolumeSize: "50"
    SecurityGroups:
      - Ref: AWSEBSecurityGroup
      - Ref: NiFiCanvas
  aws:autoscaling:asg:
    MinSize: "1"
    MaxSize: "1"
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
#    LoadBalancerType: network
    ServiceRole: AWSServiceRoleForElasticBeanstalk
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Immutable
    IgnoreHealthCheck: true
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: true
    RollingUpdateType: Immutable
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /
  aws:ec2:vpc:
    VPCid: vpc-797fed1d
    Subnets: subnet-d5adecea, subnet-fee3a4d3
    ELBSubnets: subnet-d94a0af4
    AssociatePublicIpAddress: false
  aws:elb:policies:proxy-protocol:
    ProxyProtocol: true
Resources:
  NiFiCanvas:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: NiFi Canvas
      SecurityGroupIngress:
      -
        FromPort: 8080
        ToPort: 8080
        IpProtocol: tcp
        Description: Open 8080 for canvas
        SourceSecurityGroupId:
          Ref: AWSEBSecurityGroup
      VpcId: vpc-797fed1d
      Tags:
        -
          Key: Owner
          Value: jrittenh
...
