Resources:
  NiFiCanvas:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: NiFi Canvas
      SecurityGroupIngress:
      -
        FromPort: 8080
        ToPort: 8080
        IpProtocol: tcp
        Description: Open 8080 for canvas
        SourceSecurityGroupId:
          Ref: AWSEBSecurityGroup
      VpcId: vpc-797fed1d
      Tags:
        -
          Key: Owner
          Value: jrittenh
