---
files:
  "/opt/nifi/nifi-${NIFI_VERSION}/bin/common.sh":
    mode: "000770"
    owner: root
    group: root
    source: https://github.com/apache/nifi/blob/rel/nifi-${NIFI_VERSION}/nifi-docker/dockerhub/sh/common.sh
  "/opt/nifi/nifi-${NIFI_VERSION}/bin/start.sh":
    mode: "000770"
    owner: root
    group: root
    source: https://github.com/apache/nifi/blob/rel/nifi-${NIFI_VERSION}/nifi-docker/dockerhub/sh/start.sh
  "/opt/nifi/nifi-${NIFI_VERSION}/bin/secure.sh":
    mode: "000770"
    owner: root
    group: root
    source: https://github.com/apache/nifi/blob/rel/nifi-${NIFI_VERSION}/nifi-docker/dockerhub/sh/secure.sh
  "/opt/nifi/nifi-${NIFI_VERSION}/bin/update_login_providers.sh":
    mode: "000770"
    owner: root
    group: root
    source: https://github.com/apache/nifi/blob/rel/nifi-${NIFI_VERSION}/nifi-docker/dockerhub/sh/update_login_providers.sh
