---
commands:
    repository:
        command:
            -   mkdir -p /var/nifi/repository/database
            -   mkdir -p /var/nifi/repository/content
            -   mkdir -p /var/nifi/repository/flowfile
            -   mkdir -p /var/nifi/repository/provenance
files:
    /opt/nifi/nifi-1.5.0/database_repository:
        mode: '120400'
        content: /var/nifi/repository/database
    /opt/nifi/nifi-1.5.0/content_repository:
        mode: '120400'
        content: /var/nifi/repository/content
    /opt/nifi/nifi-1.5.0/flowfile_repository:
        mode: '120400'
        content: /var/nifi/repository/flowfile
    /opt/nifi/nifi-1.5.0/provenance_repository:
        mode: '120400'
        content: /var/nifi/repository/provenance
...
