---
commands:
    repository:
        command:
            -   mkdir -p /var/nifi/repository/database
            -   mkdir -p /var/nifi/repository/content
            -   mkdir -p /var/nifi/repository/flowfile
            -   mkdir -p /var/nifi/repository/provenance
            -   chmod -R a+rwx /var/nifi/repository
...
